/* stock container CSS */

.product-container {
    border: 1.5px solid #09697a;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}

.product-container .name {
    display: inline-block;
    color: #09697a;
}

.product-container .image{
    padding: 5px;
    display: inline-block;
}

/* onsale /not on sale colors */

.on-sale {
    color: #0ea800;
}

.not-on-sale {
    color: #da1616e8;
}